<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Auth and Auth</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
    <div th:replace="~{common :: header(${user})}"></div>
    <div class="container text-center">
        <h1 class="text-center">Friends: Don't just make them, amass them.</h1>
        <a href="/myprofile">
            <button class="btn btn-success">My Profile</button>
        </a>
        <a href="/signup">
            <button class="btn btn-success">Sign Up</button>
        </a>
    </div>
</body>
</html>