<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Auth and Auth</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
    <div th:replace="~{common :: header(${loggedInUser})}"></div>
    <div class="container">
        <form method="POST" action="/signup" >
            <label>First Name
                <input type="text" name="firstName" placeholder="First Name" />
            </label>

            <label>Last Name
                <input type="text" name="lastName" placeholder="Last Name" />
            </label>

            <label>Birthday
                <input type="test" name="dateOfBirth" placeholder="Date of Birth (mm/dd/yyyy)" />
            </label>

            <label>Bio
                <input type="textarea" name="bio" placeholder="Bio" />
            </label>

            <label>Username
                <input type="text" name="username" placeholder="Username" />
            </label>

            <label>Password
                <input type="password" name="password" placeholder="Password" />
            </label>
            <input type="submit" />
        </form>
    </div>
</body>
</html>